# VsCode:
.vscode

# Obj files:
*.o

# Binaries:
*.out

# Output:
output/
slurm*

# Build files:
build/.cmake
build/CMakeFiles
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile